<form method="POST" action="/new">
    <b>Add a message here!</b>
    <div>
        <input type="text" placeholder="Author's Name" name="author_name">
        <input type="text" placeholder="Message" name="author_message">
        <button type="submit" value="submit">Add message</button>
    </div>
</form>